<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="slackHandler" xsi:type="object">Yireo\SlackLogger\Proxy\SlackHandlerProxy</item>
            </argument>
        </arguments>
    </type>
</config>
